/*==============================================================================
HEADER
==============================================================================*/
header {
  padding: $grid-gutter / 2;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 667;

  h4 {
    font-size: 1.3em;
  }
}

/*==============================================================================
MAIN
==============================================================================*/

main {

}
/*==============================================================================
FOOTER
==============================================================================*/
footer {

}

.floating-bg {
  font-size: 60px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: -3px;
  color: #f1f1f1;
}