.home {
  height: 100vh;
  width: 100%;

  .gallery-wrapper {
    margin: 0 auto;
    width: 90vw;
    display: flex;
    align-items: center;
    position: absolute;
    padding: $grid-gutter / 2;
    z-index: 666;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    figure {
      margin: 0 auto;
    }

    img {
      max-width: 100%;
      width: auto;
      height: auto;
      max-height: 85vh;
      display: block;
    }
  }
}
